#child-content {
    height: 100%;
    width: 100%;
}

body {
    background: #EDEAE5;
}

.modal {
    text-align: center;
}

.modal-content {
    background: #EDEAE5;
}

.modal-open {
    overflow: hidden;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.imagen-perro {
    width: 100%;
    height: 100%;
}

.dog-title {
    color: #026670;
}

.info-title {
    background: #026670;
}

.terms-sm-text {
    font-size: 0.9rem;
}

.disabled {
    pointer-events: none;
}