#content {
    background: linear-gradient(rgba(22, 22, 22, 0.9), rgba(50, 50, 50, 0.9)), url('../storage/stock/login_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 80px;

}

#child-content {
    color: white;
    height: 100%;
}

.title-font {
    color: white;
    font-size: 3rem;
}

body {
    background: #323232;
}