#content {
    background: linear-gradient(rgba(22, 22, 22, 0.3), rgba(50, 50, 50, 1)), url('../storage/stock/form_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#child-content {
    height: 100%;
}

.big-font {
    font-size: 3rem;
}

.radio-err {
    outline: 1px solid red;
}

body {
    background: #323232;
}